body {
    font-family: "Arial", sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #f0f0f0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #f0f0f0;
}

.game--title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.game--status {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 20px;
}

.game--restart {
    background-color: #5586e2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.game--restart:hover {
    background-color: #406eb4;
}
